<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>
<body>
    <h1>Welcome to our Booking Services</h1> <br>

    <button style="font-size: 30px; margin-left: 100px;">
        <a href="/booking" style="text-decoration: none; color: inherit;">Booking</a>
    </button>
    
    <button style="font-size: 30px; margin-left: 900px;">
        <a href="/register" style="text-decoration: none; color: inherit;">Register</a>
    </button>
    
    <button style="font-size: 30px; margin-left: 200px;">
        <a href="/login" style="text-decoration: none; color: inherit;">Login</a>
    </button>
    

</body>
</html>